<div>
    <mat-card class="configCard">
        <form *ngIf="mode == 'create'" [formGroup]="gameForm"><br />
            <mat-card-header>
                <mat-card-title> Create New Game </mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <div>
                    <mat-label>Name：</mat-label>
                    <mat-form-field>
                        <input type="text" matInput formControlName="name">
                    </mat-form-field>
                </div>

                <div>
                    <mat-label>Image：</mat-label>
                    <input type="file" accept="image/*" (change)="uploadImage($event)">
                    <div class="img">
                        <img id="upload-img" />
                    </div>
                </div>

                <div>
                    <mat-label>Description：</mat-label>
                    <mat-form-field>
                        <input type="text" matInput formControlName="descp">
                    </mat-form-field>
                </div>

                <div>
                    <mat-label>game (zip format)：</mat-label>
                    <input type="file"
                        accept=".zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed"
                        (change)="uploadZip($event)">
                </div>
            </mat-card-content>
            <mat-card-actions>
                <a routerLink="/provider">
                    <button mat-stroked-button type="cancel" class="button">Cancel</button>
                </a>
                <button mat-stroked-button class="button" (click)="goNextStep()">
                    Next
                    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right_alt</mat-icon> -->
                </button>
            </mat-card-actions>
        </form>

        <mat-card-header *ngIf="mode == 'setting'">
            <mat-card-title> Game Configuration </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form *ngIf="mode == 'setting'" [formGroup]="coreForm"><br />
                <section class="example-section">
                    <div>【 Core 】</div><br />
                    <ol>
                        <div *ngFor="let coreOption of coreOptions; let i = index">
                            <li>
                                <mat-checkbox class="example-margin"
                                    *ngIf="coreOption.default_value == 'True'; else elseTmp"
                                    (change)="changeCheckBox(coreForm, coreFormControlName[i], $event.checked)"
                                    [formControlName]="coreFormControlName[i]"> {{coreOption.GAcolumn}}
                                </mat-checkbox>
                                <ng-template #elseTmp>
                                    <mat-label>{{coreOption.GAcolumn}}: </mat-label>
                                    <mat-form-field>
                                        <input type="text" matInput [formControlName]="coreFormControlName[i]" (change)="changeInput(coreOption.GAcolumn, $event.target.value)">
                                    </mat-form-field>
                                </ng-template>
                            </li>
                        </div>
                    </ol>
                </section>
            </form>


            <form *ngIf="mode == 'setting'" [formGroup]="videoForm">
                <section class="example-section">
                    <div>【 Video 】</div><br />
                    <ol>
                        <div *ngFor="let videoOption of videoOptions; let i = index">
                            <li>
                                <mat-label>{{videoOption.GAcolumn}}: </mat-label>
                                <mat-form-field>
                                    <input type="text" matInput [formControlName]="videoFormControlName[i]" (change)="changeInput(videoOption.GAcolumn, $event.target.value)">
                                </mat-form-field>
                            </li>
                        </div>
                    </ol>
                </section>
            </form>

            <form *ngIf="mode == 'setting'" [formGroup]="audioForm">
                <section class="example-section">
                    <div>【 Audio 】</div><br />
                    <ol>
                        <div *ngFor="let audioOption of audioOptions; let i = index">
                            <li>
                                <mat-label>{{audioOption.GAcolumn}}: </mat-label>
                                <mat-form-field>
                                    <input type="text" matInput formControlName="audioDelay" (change)="changeInput(audioOption.GAcolumn, $event.target.value)">
                                </mat-form-field>
                            </li>
                        </div>
                    </ol>
                </section>
            </form>

            <form  *ngIf="mode == 'setting'" [formGroup]="filterForm">
                <section class="example-section">
                    <div>【 Filter 】</div><br />
                    <ol>
                        <div *ngFor="let filterOption of filterOptions">
                            <li>
                                <mat-label>{{filterOption.GAcolumn}}: </mat-label>
                                <mat-form-field>
                                    <input type="text" matInput formControlName="filterSP" (change)="changeInput(filterOption.GAcolumn, $event.target.value)">
                                </mat-form-field>
                            </li>
                        </div>
                    </ol>
                </section>
            </form>

            <form  *ngIf="mode == 'setting'" [formGroup]="gaServerForm">
                <section class="example-section">
                    <div>【 ga-server-event-driven 】</div><br />
                    <ol>
                        <div *ngFor="let gaServerEventDrivenOption of gaServerEventDrivenOptions; let i = index">
                            <li>
                                <mat-checkbox class="example-margin"
                                    *ngIf="gaServerEventDrivenOption.default_value == 'true'; else elseTmp"  
                                    (change)="changeCheckBox(gaServerForm, gaServerFormControlName[i], $event.checked)"
                                    [formControlName]="gaServerFormControlName[i]">
                                    {{gaServerEventDrivenOption.GAcolumn}}
                                </mat-checkbox>
                                <ng-template #elseTmp>
                                    <mat-label>{{gaServerEventDrivenOption.GAcolumn}}: </mat-label>
                                    <mat-form-field>
                                        <input type="text" matInput [formControlName]="gaServerFormControlName[i]"
                                        (change)="changeInput(gaServerEventDrivenOption.GAcolumn, $event.target.value)">
                                    </mat-form-field>
                                </ng-template>
                            </li>
                        </div>
                    </ol>
                </section>
            </form>

            <form  *ngIf="mode == 'setting'" [formGroup]="gaClientForm">
                <section class="example-section">
                    <div>【 ga-client 】</div><br />
                    <ol>
                        <div *ngFor="let gaClientOption of gaClientOptions; let i = index">
                            <li>
                                <mat-label>{{gaClientOption.GAcolumn}}:</mat-label>
                                <mat-form-field>
                                    <input type="text" matInput [formControlName]="gaClientFormControlName[i]"
                                    (change)="changeInput(gaClientOption.GAcolumn, $event.target.value)">
                                </mat-form-field>
                            </li>
                        </div>
                    </ol>
                </section>
            </form>
        </mat-card-content>
        <mat-card-actions *ngIf="mode == 'setting'">
            <a routerLink="/provider">
                <button mat-stroked-button type="cancel" class="button">Cancel</button>
            </a>
            <button mat-stroked-button type="submit" class="button" (click)="createNewGame()">Submit</button>
        </mat-card-actions>
    </mat-card>
</div>