<div class="mainPage">
    <div class="title">
        <h1>Welcome</h1>
    </div>
    <div class="btnArea">
        <a routerLink="/provider/create">
            <button mat-flat-button color="primary">Create New Game</button>
        </a>
        <a routerLink="/provider/config">
            <button mat-flat-button color="accent">Modify configuration</button>
        </a>
        <a routerLink="/provider/console">
            <button mat-flat-button color="warn">Game Console</button>
        </a>

    </div>
</div>