:host {
    display: flex;
    justify-content: center;
    margin: 5rem;
  }

  mat-card {
    padding: 3em;
    background-color:#24323d;
  }

  mat-label,
  mat-tab-label,
  mat-tab-label-content,
  .tabWord{
    color: #dff1f5;
  }

  mat-card-actions {
    text-align: end;
  }

  mat-card-header,
  .button{
    justify-content: center;
    
  }

  mat-card-title {
    font-size:40px !important;
  }

  mat-card-content {
    font-size:25px !important;
  }

  .configCard{
    color: #dff1f5;
    width: 800px;
  }

  .button{
    background-color: #19a881
  }

  .contentRow{
    margin: 15px 0px;
  }
  
  a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
  .listItem {
    color: white;
  }

  