<div>
    <mat-card class="configCard">

        <mat-card-header>
            <mat-card-title> Console </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>

                <!-- current tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="tabWord">Current：</div>
                    </ng-template>

                    <div class="contentRow">
                        <mat-label>Name：</mat-label>
                        {{ data.current.gameInfo.name }}
                    </div>
                    <div class="contentRow">
                        <mat-label>Image：</mat-label>
                        <div class="img" class="contentRow">
                            <img id="upload-img" [src]="data.current.gameInfo.imageUrl" />
                        </div>
                    </div>
                    <div>
                        <button *ngIf="endPayload.ip" mat-flat-button color="warn" (click)="endGame()">遊戲強制關閉</button>
                    </div>
                </mat-tab>

                <!-- player tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="tabWord">Player</div>
                    </ng-template>

                    <div class="contentRow">
                        <mat-label>日前在線人數：</mat-label>
                        {{ data.player.currentPlayer }}
                    </div>

                    <div class="contentRow">
                        <mat-label>當日上線人數：</mat-label>
                        {{ data.player.dailyPlayer }}
                    </div>

                    <div class="contentRow">
                        <mat-label>本週上限人數：</mat-label>
                        {{ data.player.weeklyPlayer }}
                    </div>

                    <div class="contentRow">
                        <mat-label>本月上限人數：</mat-label>
                        {{ data.player.monthlyPlayer }}
                    </div>
                </mat-tab>


            </mat-tab-group>

        </mat-card-content>
        <mat-card-actions>
            <a routerLink="/provider">
                <button mat-stroked-button type="cancel" class="button">Back</button>
            </a>
        </mat-card-actions>

    </mat-card>
</div>