<div class="container">

  <section>
    <div class="mat-h1 sectionTitle">Online Games</div>
    <div *ngFor="let game of gameList">
      <a [routerLink]="['/home/content',{gameId: game.gameId, providerId: game.providerId, state: 'start'}]">
        <mat-card class="gameCard">
          <mat-card-header>
            <mat-card-title>{{game.gameId}}. {{game.name}}</mat-card-title>
          </mat-card-header>
          <!-- <img class="gameCover" [src]="game.imageUrl"> -->
          <div class="img">
            <img id="display-img1" />
          </div>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </section>

  <section>
    <div class="mat-h1 sectionTitle">Stream Games</div>
    <div *ngFor="let game of progressingGameList">
      <a [routerLink]="['/home/content',{gameId: game.gameId, providerId: game.providerId, state: 'view'}]">
        <mat-card class="gameCard">
          <mat-card-header>
            <mat-card-title>{{game.gameId}}. {{game.name}}</mat-card-title>
          </mat-card-header>
          <img class="gameCover" [src]="game.imageUrl">
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </section>

</div>