:host{
    min-height: 100%;
}
mat-card {
    margin: 10px 10px;
    background-color: grey;
}

img {
    width: inherit;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.gameCard {
    background-color: #f1f1f1;
    width: 400px;
    margin: 10px;
}

@media screen and (max-width: 680px) {
    .gameCard {
        width: 220px;
    }
}

@media screen and (orientation:landscape) and (max-width: 900px){
    .gameCard {
        width: 220px;
    }
}