mat-card, mat-card-title{
    padding: 30px;
    background-color: #E0E0E0;
}

mat-card-content, .descp {
    margin: 30px;
}
img {
    text-align: center;
}
.title {
    color: 	#003060;
    font-size: 2rem;    
}