a,
mat-card, 
mat-card-title, 
mat-card-subtitle{
    background-color: #003060;
    color: white;
}


img {
    width: 90%;
    margin: auto;
}
.title {
    font-size: 2rem;    
}

img,
mat-card-title,
mat-card-subtitle,
mat-card-content, 
.descp {
    margin-bottom: 30px;
}