<div class="basic-container">
  <div>
    <section>
      <div class="example-button-row" >
        <button mat-flat-button color="primary" class="btn" (click)="openDialog('search')">search</button>
        <button mat-flat-button color="primary" class="btn" (click)="openDialog('create')">create</button>
      </div>
    </section>
    <dialog-modal 
      *ngIf="openModal"
      [mode]="mode"
      [userInfo]="userInfo"
      (toggleClose)="closeDialog()"
      (createUser)="createUser($event)">

    </dialog-modal>
  </div>
</div>
<router-outlet></router-outlet>