<div>
    <mat-card class="configCard">
        <mat-card-header>
            <mat-card-title> Configuration </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h4>Select a Game</h4>
            <mat-form-field appearance="fill">
                <mat-label>Game Name</mat-label>
                <mat-select (selectionChange)="selectedGame($event.value)">
                    <mat-option *ngFor="let game of gameList" [value]="game">
                        {{game}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="mode == 'changed'">
                <form [formGroup]="form" ><br />
                    <div *ngFor="let column of current.config">
                        <mat-label>{{ column.gAcolumn }}：</mat-label>
                        <mat-form-field>
                            <input type="text" matInput [formControlName]="column.gAcolumn" (change)="changeInput(column, $event.target.value)">
                        </mat-form-field>
                    </div>
                </form>
            </div>

        </mat-card-content>
        <mat-card-actions> 
            <a routerLink="/provider">
                <button mat-stroked-button type="cancel" class="button">Cancel</button>
            </a>
            <button  *ngIf="mode == 'changed'" mat-stroked-button type="submit" class="button" (click)="modifyConfigGame()">Change</button>
        </mat-card-actions>
    </mat-card>
</div>