<div>
    <mat-card class="configCard">
        <form [formGroup]="form" (ngSubmit)="submit()"><br />
            <mat-card-header>
                <mat-card-title> Configuration </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let column of dataKeys">
                    <div>
                        <mat-label>{{ column }}：</mat-label>
                        <mat-form-field>
                            <input type="text" matInput [formControlName]="column">
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <a routerLink="/provider">
                    <button mat-stroked-button type="cancel" class="button">Cancel</button>
                </a>
                <button mat-stroked-button type="submit" class="button">Submit</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>