<div class="full-page">
  <!-- <div class="topNav">
    <span class="navItem" (click)="changeMode('providerLogin')">
        Provider
    </span>
    <span class="navItem"  (click)="changeMode('userLogin')">
        User
    </span>
  </div> -->
  <mat-card>
    
    <mat-card-title *ngIf="mode === 'userLogin'">User Login</mat-card-title>
    <mat-card-title *ngIf="mode === 'providerLogin'">Provider Login</mat-card-title>
    <mat-card-title *ngIf="mode === 'register'">Register</mat-card-title>
    <mat-card-content><br />
      <form [formGroup]="form" (ngSubmit)="submit()">
        <br />
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>

        <p *ngIf="mode === 'register'">
          <mat-form-field>
            <input type="password" matInput placeholder="Double click Password" formControlName="passwordCheck">
          </mat-form-field>
        </p>
        <div class="button">
          <button *ngIf="mode === 'userLogin'" mat-stroked-button type="submit" (click)="login()">
            <!-- <a id="loginButton" routerLink="/home"> -->
               login
            <!-- </a> -->
          </button>

          <!-- provider login for condiguration -->
          <button *ngIf="mode === 'providerLogin'" mat-stroked-button type="submit" >
            <a id="loginButton" routerLink="/provider">
               Login
            </a>
          </button>

          <button *ngIf="mode === 'register'" mat-stroked-button type="submit"  (click)="userRegister()">
            <!-- <a routerLink="/home"> -->
              Create
            <!-- </a> -->
          </button>
        </div>

      </form>
    </mat-card-content>

    <mat-card-footer>
      <div *ngIf="mode !== 'register'" class="link" (click)="changeMode('register')" [ngStyle]="{cursor: 'pointer'}" > 
        Don't have account ? 
      </div> 
      <div *ngIf="mode === 'register'" class="link" (click)="changeMode('userLogin')" [ngStyle]="{cursor: 'pointer'}"> 
        Already have account?
      </div> 
    </mat-card-footer>
  </mat-card>
</div>