
:host {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
  }

  mat-card-title,
  mat-card-content,
  mat-card-footer,
  mat-card-subtitle,
  .button {
    display: flex;
    justify-content: center;
  }

  .mat-card {
    padding: 3em;
    background-color: lightgrey;
  }

  .link{
    text-decoration: underline;
  }