
:host {
    display: flex;
    justify-content: center;
  }

  mat-card-title,
  mat-card-content,
  mat-card-footer,
  mat-card-subtitle,
  .button {
    display: flex;
    justify-content: center;
  }

  .mat-card {
    padding: 3em;
    background-color: lightgrey;
  }

  .link{
    text-decoration: underline;
  }

  .topNav {
    text-align: center;
  }

  .navItem {
    margin-left: 10px;
    margin-right: 10px;
  }

  #loginButton {
    text-decoration: blink;
    color: black;
  }