.container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }

  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: lightgrey;
  }
  
  .header {
    position: fixed;
    color: white;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: black;
    text-align: right;
  }
  .sideBarSection {
    margin: 12px 30px;
  }

  mat-sidenav {
    width: 200px;
  }

  .footerText{
    position: absolute;
    right: 20px;
  }
  .main {
    height: 100%;
  }
  .sideBarIcon {
    color: white;
  }