.container {
    position: absolute;
    top: 55px;
    bottom: 55px;
    left: 0;
    right: 0;
  }

  .header {
    position: fixed;
    color: white;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: black;
    text-align: right;
  }
  .sideBarSection {
    margin: 12px 30px;
  }

  mat-sidenav {
    width: 200px;
  }

  .footerText{
    position: absolute;
    right: 20px;
  }
  .main {
    height: 100%;
    background-color: #003060;
  }
  .sideBarIcon {
    color: white;
  }